@CHARSET "UTF-8";

#f_room {
	background-color: white;
}

#s_room {
	border: 1px solid rgb(149, 184, 231);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
}