<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jy.hotel.dao.guest.CheckInGoodsCostMapper" >
  <resultMap id="BaseResultMap" type="cn.com.jy.hotel.domain.guest.CheckInGoodsCost" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="check_in_id" property="check_in_id" jdbcType="BIGINT" />
    <result column="goods_sale_id" property="goods_sale_id" jdbcType="INTEGER" />
    <result column="buyCount" property="buyCount" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, check_in_id, goods_sale_id, buyCount, cost
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from g_checkin_goods_cost
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from g_checkin_goods_cost
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.jy.hotel.domain.guest.CheckInGoodsCost" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into g_checkin_goods_cost (check_in_id, goods_sale_id, buyCount, 
      cost)
    values (#{check_in_id,jdbcType=BIGINT}, #{goods_sale_id,jdbcType=INTEGER}, #{buyCount,jdbcType=INTEGER}, 
      #{cost,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jy.hotel.domain.guest.CheckInGoodsCost" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into g_checkin_goods_cost
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="check_in_id != null" >
        check_in_id,
      </if>
      <if test="goods_sale_id != null" >
        goods_sale_id,
      </if>
      <if test="buyCount != null" >
        buyCount,
      </if>
      <if test="cost != null" >
        cost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="check_in_id != null" >
        #{check_in_id,jdbcType=BIGINT},
      </if>
      <if test="goods_sale_id != null" >
        #{goods_sale_id,jdbcType=INTEGER},
      </if>
      <if test="buyCount != null" >
        #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jy.hotel.domain.guest.CheckInGoodsCost" >
    update g_checkin_goods_cost
    <set >
      <if test="check_in_id != null" >
        check_in_id = #{check_in_id,jdbcType=BIGINT},
      </if>
      <if test="goods_sale_id != null" >
        goods_sale_id = #{goods_sale_id,jdbcType=INTEGER},
      </if>
      <if test="buyCount != null" >
        buyCount = #{buyCount,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jy.hotel.domain.guest.CheckInGoodsCost" >
    update g_checkin_goods_cost
    set check_in_id = #{check_in_id,jdbcType=BIGINT},
      goods_sale_id = #{goods_sale_id,jdbcType=INTEGER},
      buyCount = #{buyCount,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>