<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jy.hotel.dao.guest.CheckInMapper" >
  <resultMap id="BaseResultMap" type="cn.com.jy.hotel.domain.guest.CheckIn" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="discount" property="discount" jdbcType="TINYINT" />
    <result column="allCost" property="allCost" jdbcType="DECIMAL" />
    <result column="vipPay" property="vipPay" jdbcType="DECIMAL" />
    <result column="cashPay" property="cashPay" jdbcType="DECIMAL" />
    <result column="webPay" property="webPay" jdbcType="DECIMAL" />
    <result column="shouldPay" property="shouldPay" jdbcType="DECIMAL" />
    <result column="hadPay" property="hadPay" jdbcType="DECIMAL" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="actuallyEndTime" property="actuallyEndTime" jdbcType="TIMESTAMP" />
    <result column="deposit" property="deposit" jdbcType="DECIMAL" />
    <result column="deposit_return" property="deposit_return" jdbcType="DECIMAL" />
    <result column="vip_id" property="vip_id" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.com.jy.hotel.domain.guest.CheckIn" extends="BaseResultMap" >
    <result column="deposit_cost_desc" property="deposit_cost_desc" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, status, discount, allCost, vipPay, cashPay, webPay, shouldPay, hadPay, startTime, 
    actuallyEndTime, deposit, deposit_return, vip_id
  </sql>
  <sql id="Blob_Column_List" >
    deposit_cost_desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from g_check_in
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from g_check_in
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.jy.hotel.domain.guest.CheckIn" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into g_check_in (status, discount, allCost, 
      vipPay, cashPay, webPay, 
      shouldPay, hadPay, startTime, 
      actuallyEndTime, deposit, deposit_return, 
      vip_id, deposit_cost_desc)
    values (#{status,jdbcType=TINYINT}, #{discount,jdbcType=TINYINT}, #{allCost,jdbcType=DECIMAL}, 
      #{vipPay,jdbcType=DECIMAL}, #{cashPay,jdbcType=DECIMAL}, #{webPay,jdbcType=DECIMAL}, 
      #{shouldPay,jdbcType=DECIMAL}, #{hadPay,jdbcType=DECIMAL}, #{startTime,jdbcType=TIMESTAMP}, 
      #{actuallyEndTime,jdbcType=TIMESTAMP}, #{deposit,jdbcType=DECIMAL}, #{deposit_return,jdbcType=DECIMAL}, 
      #{vip_id,jdbcType=BIGINT}, #{deposit_cost_desc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jy.hotel.domain.guest.CheckIn" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into g_check_in
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="status != null" >
        status,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="allCost != null" >
        allCost,
      </if>
      <if test="vipPay != null" >
        vipPay,
      </if>
      <if test="cashPay != null" >
        cashPay,
      </if>
      <if test="webPay != null" >
        webPay,
      </if>
      <if test="shouldPay != null" >
        shouldPay,
      </if>
      <if test="hadPay != null" >
        hadPay,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="actuallyEndTime != null" >
        actuallyEndTime,
      </if>
      <if test="deposit != null" >
        deposit,
      </if>
      <if test="deposit_return != null" >
        deposit_return,
      </if>
      <if test="vip_id != null" >
        vip_id,
      </if>
      <if test="deposit_cost_desc != null" >
        deposit_cost_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=TINYINT},
      </if>
      <if test="allCost != null" >
        #{allCost,jdbcType=DECIMAL},
      </if>
      <if test="vipPay != null" >
        #{vipPay,jdbcType=DECIMAL},
      </if>
      <if test="cashPay != null" >
        #{cashPay,jdbcType=DECIMAL},
      </if>
      <if test="webPay != null" >
        #{webPay,jdbcType=DECIMAL},
      </if>
      <if test="shouldPay != null" >
        #{shouldPay,jdbcType=DECIMAL},
      </if>
      <if test="hadPay != null" >
        #{hadPay,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actuallyEndTime != null" >
        #{actuallyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deposit != null" >
        #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="deposit_return != null" >
        #{deposit_return,jdbcType=DECIMAL},
      </if>
      <if test="vip_id != null" >
        #{vip_id,jdbcType=BIGINT},
      </if>
      <if test="deposit_cost_desc != null" >
        #{deposit_cost_desc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jy.hotel.domain.guest.CheckIn" >
    update g_check_in
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=TINYINT},
      </if>
      <if test="allCost != null" >
        allCost = #{allCost,jdbcType=DECIMAL},
      </if>
      <if test="vipPay != null" >
        vipPay = #{vipPay,jdbcType=DECIMAL},
      </if>
      <if test="cashPay != null" >
        cashPay = #{cashPay,jdbcType=DECIMAL},
      </if>
      <if test="webPay != null" >
        webPay = #{webPay,jdbcType=DECIMAL},
      </if>
      <if test="shouldPay != null" >
        shouldPay = #{shouldPay,jdbcType=DECIMAL},
      </if>
      <if test="hadPay != null" >
        hadPay = #{hadPay,jdbcType=DECIMAL},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actuallyEndTime != null" >
        actuallyEndTime = #{actuallyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deposit != null" >
        deposit = #{deposit,jdbcType=DECIMAL},
      </if>
      <if test="deposit_return != null" >
        deposit_return = #{deposit_return,jdbcType=DECIMAL},
      </if>
      <if test="vip_id != null" >
        vip_id = #{vip_id,jdbcType=BIGINT},
      </if>
      <if test="deposit_cost_desc != null" >
        deposit_cost_desc = #{deposit_cost_desc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.jy.hotel.domain.guest.CheckIn" >
    update g_check_in
    set status = #{status,jdbcType=TINYINT},
      discount = #{discount,jdbcType=TINYINT},
      allCost = #{allCost,jdbcType=DECIMAL},
      vipPay = #{vipPay,jdbcType=DECIMAL},
      cashPay = #{cashPay,jdbcType=DECIMAL},
      webPay = #{webPay,jdbcType=DECIMAL},
      shouldPay = #{shouldPay,jdbcType=DECIMAL},
      hadPay = #{hadPay,jdbcType=DECIMAL},
      startTime = #{startTime,jdbcType=TIMESTAMP},
      actuallyEndTime = #{actuallyEndTime,jdbcType=TIMESTAMP},
      deposit = #{deposit,jdbcType=DECIMAL},
      deposit_return = #{deposit_return,jdbcType=DECIMAL},
      vip_id = #{vip_id,jdbcType=BIGINT},
      deposit_cost_desc = #{deposit_cost_desc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jy.hotel.domain.guest.CheckIn" >
    update g_check_in
    set status = #{status,jdbcType=TINYINT},
      discount = #{discount,jdbcType=TINYINT},
      allCost = #{allCost,jdbcType=DECIMAL},
      vipPay = #{vipPay,jdbcType=DECIMAL},
      cashPay = #{cashPay,jdbcType=DECIMAL},
      webPay = #{webPay,jdbcType=DECIMAL},
      shouldPay = #{shouldPay,jdbcType=DECIMAL},
      hadPay = #{hadPay,jdbcType=DECIMAL},
      startTime = #{startTime,jdbcType=TIMESTAMP},
      actuallyEndTime = #{actuallyEndTime,jdbcType=TIMESTAMP},
      deposit = #{deposit,jdbcType=DECIMAL},
      deposit_return = #{deposit_return,jdbcType=DECIMAL},
      vip_id = #{vip_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>