<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jy.hotel.dao.guest.GoodsProvideMapper" >
  <resultMap id="BaseResultMap" type="cn.com.jy.hotel.domain.guest.GoodsProvide" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_name" property="item_name" jdbcType="VARCHAR" />
    <result column="stock" property="stock" jdbcType="INTEGER" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.com.jy.hotel.domain.guest.GoodsProvide" extends="BaseResultMap" >
    <result column="item" property="item" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item_name, stock, cost
  </sql>
  <sql id="Blob_Column_List" >
    item
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from g_goods_provide
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from g_goods_provide
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.jy.hotel.domain.guest.GoodsProvide" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into g_goods_provide (item_name, stock, cost, 
      item)
    values (#{item_name,jdbcType=VARCHAR}, #{stock,jdbcType=INTEGER}, #{cost,jdbcType=DECIMAL}, 
      #{item,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jy.hotel.domain.guest.GoodsProvide" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into g_goods_provide
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="item_name != null" >
        item_name,
      </if>
      <if test="stock != null" >
        stock,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="item != null" >
        item,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="item_name != null" >
        #{item_name,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="item != null" >
        #{item,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jy.hotel.domain.guest.GoodsProvide" >
    update g_goods_provide
    <set >
      <if test="item_name != null" >
        item_name = #{item_name,jdbcType=VARCHAR},
      </if>
      <if test="stock != null" >
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="item != null" >
        item = #{item,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.jy.hotel.domain.guest.GoodsProvide" >
    update g_goods_provide
    set item_name = #{item_name,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL},
      item = #{item,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jy.hotel.domain.guest.GoodsProvide" >
    update g_goods_provide
    set item_name = #{item_name,jdbcType=VARCHAR},
      stock = #{stock,jdbcType=INTEGER},
      cost = #{cost,jdbcType=DECIMAL}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>