<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jy.hotel.dao.guest.GuestRoomDeatilMapper" >
  <resultMap id="BaseResultMap" type="cn.com.jy.hotel.domain.guest.GuestRoomDeatil" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="check_in_id" property="check_in_id" jdbcType="BIGINT" />
    <result column="room_id" property="room_id" jdbcType="INTEGER" />
    <result column="startTime" property="startTime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endTime" jdbcType="TIMESTAMP" />
    <result column="actuallyEndTime" property="actuallyEndTime" jdbcType="TIMESTAMP" />
    <result column="payMethod_id" property="payMethod_id" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, check_in_id, room_id, startTime, endTime, actuallyEndTime, payMethod_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from g_guest_room_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from g_guest_room_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.com.jy.hotel.domain.guest.GuestRoomDeatil" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into g_guest_room_detail (check_in_id, room_id, startTime, 
      endTime, actuallyEndTime, payMethod_id
      )
    values (#{check_in_id,jdbcType=BIGINT}, #{room_id,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{actuallyEndTime,jdbcType=TIMESTAMP}, #{payMethod_id,jdbcType=SMALLINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jy.hotel.domain.guest.GuestRoomDeatil" >
    <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into g_guest_room_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="check_in_id != null" >
        check_in_id,
      </if>
      <if test="room_id != null" >
        room_id,
      </if>
      <if test="startTime != null" >
        startTime,
      </if>
      <if test="endTime != null" >
        endTime,
      </if>
      <if test="actuallyEndTime != null" >
        actuallyEndTime,
      </if>
      <if test="payMethod_id != null" >
        payMethod_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="check_in_id != null" >
        #{check_in_id,jdbcType=BIGINT},
      </if>
      <if test="room_id != null" >
        #{room_id,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actuallyEndTime != null" >
        #{actuallyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payMethod_id != null" >
        #{payMethod_id,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jy.hotel.domain.guest.GuestRoomDeatil" >
    update g_guest_room_detail
    <set >
      <if test="check_in_id != null" >
        check_in_id = #{check_in_id,jdbcType=BIGINT},
      </if>
      <if test="room_id != null" >
        room_id = #{room_id,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        startTime = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        endTime = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actuallyEndTime != null" >
        actuallyEndTime = #{actuallyEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="payMethod_id != null" >
        payMethod_id = #{payMethod_id,jdbcType=SMALLINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jy.hotel.domain.guest.GuestRoomDeatil" >
    update g_guest_room_detail
    set check_in_id = #{check_in_id,jdbcType=BIGINT},
      room_id = #{room_id,jdbcType=INTEGER},
      startTime = #{startTime,jdbcType=TIMESTAMP},
      endTime = #{endTime,jdbcType=TIMESTAMP},
      actuallyEndTime = #{actuallyEndTime,jdbcType=TIMESTAMP},
      payMethod_id = #{payMethod_id,jdbcType=SMALLINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>