<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jy.hotel.dao.room.IdentifyCodeMapper" >
  <resultMap id="BaseResultMap" type="cn.com.jy.hotel.domain.room.IdentifyCode" >
    <id column="phone_number" property="phone_number" jdbcType="CHAR" />
    <result column="code" property="code" jdbcType="CHAR" />
    <result column="sendTime" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="ip_address" property="ip_address" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    phone_number, code, sendTime, ip_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from r_identify_code
    where phone_number = #{phone_number,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from r_identify_code
    where phone_number = #{phone_number,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.jy.hotel.domain.room.IdentifyCode" >
    <selectKey resultType="java.lang.String" keyProperty="phone_number" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r_identify_code (phone_number, code, sendTime, 
      ip_address)
    values (#{phone_number,jdbcType=CHAR}, #{code,jdbcType=CHAR}, #{sendTime,jdbcType=TIMESTAMP}, 
      #{ip_address,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jy.hotel.domain.room.IdentifyCode" >
    <selectKey resultType="java.lang.String" keyProperty="phone_number" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r_identify_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      phone_number,
      <if test="code != null" >
        code,
      </if>
      <if test="sendTime != null" >
        sendTime,
      </if>
      <if test="ip_address != null" >
        ip_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{phone_number,jdbcType=CHAR},
      <if test="code != null" >
        #{code,jdbcType=CHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip_address != null" >
        #{ip_address,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jy.hotel.domain.room.IdentifyCode" >
    update r_identify_code
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=CHAR},
      </if>
      <if test="sendTime != null" >
        sendTime = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="ip_address != null" >
        ip_address = #{ip_address,jdbcType=VARCHAR},
      </if>
    </set>
    where phone_number = #{phone_number,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jy.hotel.domain.room.IdentifyCode" >
    update r_identify_code
    set code = #{code,jdbcType=CHAR},
      sendTime = #{sendTime,jdbcType=TIMESTAMP},
      ip_address = #{ip_address,jdbcType=VARCHAR}
    where phone_number = #{phone_number,jdbcType=CHAR}
  </update>
</mapper>