<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jy.hotel.dao.room.RoomGroupMapper" >
  <resultMap id="BaseResultMap" type="cn.com.jy.hotel.domain.room.RoomGroup" >
    <id column="id" property="id" jdbcType="SMALLINT" />
    <result column="group_name" property="group_name" jdbcType="VARCHAR" />
    <result column="parent_id" property="parent_id" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="cn.com.jy.hotel.domain.room.RoomGroup" extends="BaseResultMap" >
    <result column="remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_name, parent_id
  </sql>
  <sql id="Blob_Column_List" >
    remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Short" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from r_room_group
    where id = #{id,jdbcType=SMALLINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Short" >
    delete from r_room_group
    where id = #{id,jdbcType=SMALLINT}
  </delete>
  <insert id="insert" parameterType="cn.com.jy.hotel.domain.room.RoomGroup" >
    <selectKey resultType="java.lang.Short" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r_room_group (group_name, parent_id, remark
      )
    values (#{group_name,jdbcType=VARCHAR}, #{parent_id,jdbcType=INTEGER}, #{remark,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jy.hotel.domain.room.RoomGroup" >
    <selectKey resultType="java.lang.Short" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r_room_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="group_name != null" >
        group_name,
      </if>
      <if test="parent_id != null" >
        parent_id,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="group_name != null" >
        #{group_name,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null" >
        #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jy.hotel.domain.room.RoomGroup" >
    update r_room_group
    <set >
      <if test="group_name != null" >
        group_name = #{group_name,jdbcType=VARCHAR},
      </if>
      <if test="parent_id != null" >
        parent_id = #{parent_id,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.com.jy.hotel.domain.room.RoomGroup" >
    update r_room_group
    set group_name = #{group_name,jdbcType=VARCHAR},
      parent_id = #{parent_id,jdbcType=INTEGER},
      remark = #{remark,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=SMALLINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jy.hotel.domain.room.RoomGroup" >
    update r_room_group
    set group_name = #{group_name,jdbcType=VARCHAR},
      parent_id = #{parent_id,jdbcType=INTEGER}
    where id = #{id,jdbcType=SMALLINT}
  </update>
</mapper>