<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jy.hotel.dao.room.RoomMapper" >
  <resultMap id="BaseResultMap" type="cn.com.jy.hotel.domain.room.Room" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="room_number" property="room_number" jdbcType="VARCHAR" />
    <result column="room_type_id" property="room_type_id" jdbcType="SMALLINT" />
    <result column="room_status" property="room_status" jdbcType="TINYINT" />
    <result column="group_id" property="group_id" jdbcType="SMALLINT" />
    <result column="guest_room_detail_id" property="guest_room_detail_id" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, room_number, room_type_id, room_status, group_id, guest_room_detail_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from r_room
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from r_room
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.jy.hotel.domain.room.Room" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r_room (room_number, room_type_id, room_status, 
      group_id, guest_room_detail_id)
    values (#{room_number,jdbcType=VARCHAR}, #{room_type_id,jdbcType=SMALLINT}, #{room_status,jdbcType=TINYINT}, 
      #{group_id,jdbcType=SMALLINT}, #{guest_room_detail_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jy.hotel.domain.room.Room" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into r_room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="room_number != null" >
        room_number,
      </if>
      <if test="room_type_id != null" >
        room_type_id,
      </if>
      <if test="room_status != null" >
        room_status,
      </if>
      <if test="group_id != null" >
        group_id,
      </if>
      <if test="guest_room_detail_id != null" >
        guest_room_detail_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="room_number != null" >
        #{room_number,jdbcType=VARCHAR},
      </if>
      <if test="room_type_id != null" >
        #{room_type_id,jdbcType=SMALLINT},
      </if>
      <if test="room_status != null" >
        #{room_status,jdbcType=TINYINT},
      </if>
      <if test="group_id != null" >
        #{group_id,jdbcType=SMALLINT},
      </if>
      <if test="guest_room_detail_id != null" >
        #{guest_room_detail_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jy.hotel.domain.room.Room" >
    update r_room
    <set >
      <if test="room_number != null" >
        room_number = #{room_number,jdbcType=VARCHAR},
      </if>
      <if test="room_type_id != null" >
        room_type_id = #{room_type_id,jdbcType=SMALLINT},
      </if>
      <if test="room_status != null" >
        room_status = #{room_status,jdbcType=TINYINT},
      </if>
      <if test="group_id != null" >
        group_id = #{group_id,jdbcType=SMALLINT},
      </if>
      <if test="guest_room_detail_id != null" >
        guest_room_detail_id = #{guest_room_detail_id,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jy.hotel.domain.room.Room" >
    update r_room
    set room_number = #{room_number,jdbcType=VARCHAR},
      room_type_id = #{room_type_id,jdbcType=SMALLINT},
      room_status = #{room_status,jdbcType=TINYINT},
      group_id = #{group_id,jdbcType=SMALLINT},
      guest_room_detail_id = #{guest_room_detail_id,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>