<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.jy.hotel.dao.system.SysVariableMapper" >
  <resultMap id="BaseResultMap" type="cn.com.jy.hotel.domain.system.SysVariable" >
    <id column="var_name" property="var_name" jdbcType="VARCHAR" />
    <result column="var_value" property="var_value" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    var_name, var_value
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from sys_variable
    where var_name = #{var_name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from sys_variable
    where var_name = #{var_name,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="cn.com.jy.hotel.domain.system.SysVariable" >
    insert into sys_variable (var_name, var_value)
    values (#{var_name,jdbcType=VARCHAR}, #{var_value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.jy.hotel.domain.system.SysVariable" >
    insert into sys_variable
    <trim prefix="(" suffix=")" suffixOverrides="," >
      var_name,
      <if test="var_value != null" >
        var_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{var_name,jdbcType=VARCHAR},
      <if test="var_value != null" >
        #{var_value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.jy.hotel.domain.system.SysVariable" >
    update sys_variable
    <set >
      <if test="var_value != null" >
        var_value = #{var_value,jdbcType=VARCHAR},
      </if>
    </set>
    where var_name = #{var_name,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.jy.hotel.domain.system.SysVariable" >
    update sys_variable
    set var_value = #{var_value,jdbcType=VARCHAR}
    where var_name = #{var_name,jdbcType=VARCHAR}
  </update>
</mapper>